
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/inspinia-gh-pages/img/logo.jpg" />

                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">Admin Adı</span>
                        <span class="text-muted text-xs block">Yetki Adı:Admin <b class="caret"></b></span>
                    </a>
                </div>
                <div class="logo-element">
                    SMT BLOG

                </div>
            </li>
        

            <li>
                <a href="/Admin/AdminRol/Index/"><i class="fa fa-lock"></i> <span class="nav-label">Roller</span>  </a>
            </li>

            <li>
                <a href="/Admin/AdminRol/UserList/"><i class="fa fa-lock"></i> <span class="nav-label">Rol Atama</span>  </a>
            </li>

            <li>
                <a href="/Admin/AdminUser/Index/"><i class="fa fa-lock"></i> <span class="nav-label">Kullanici Listesi</span>  </a>
            </li>

            <li>
                <a href="/Admin/AdminUser/KullaniciEkle/"><i class="fa fa-lock"></i> <span class="nav-label">Kullanici EKLE</span>  </a>
            </li>
          
            <li>
                <a href="/Admin/AntrenorDanisanAtama/DanisanList/"><i class="fa fa-file"></i> <span class="nav-label">AntrenorDanisanAtama</span>  </a>
            </li>
           
            <li>
                <a href="/Login/Index/"><i class="fa fa-close"></i> <span class="nav-label">Çıkış Yap</span></a>
            </li>

        </ul>
    </div>
</nav>