
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2"> @ViewBag.writerName Hoş Geldiniz </span>
                    <span class="text-secondary text-small"> @ViewBag.mailName </span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
 
        <li class="nav-item">
            <a class="nav-link" href="/Antrenor/BilgiEkleme/">
                <span class="menu-title">Antrenor Bilgi Ekleme</span>
                <i class="mdi mdi-plus menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Antrenor/AntrenorBilgiList/">
                <span class="menu-title">Antrenor Bilgi Guncelle </span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Antrenor/KisiselBilgiGuncelle/">
                <span class="menu-title"> Kisisel Bilgi Güncelleme</span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>
     

        <li class="nav-item">
            <a class="nav-link" href="/Danisan/AntrenoreGoreDanisanList">
                <span class="menu-title">Atanmis Danisanlar</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Antrenor/EgzersizProgrami">
                <span class="menu-title">Egzersiz Programı Oluştur</span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Antrenor/EgzersizBilgiList/">
                <span class="menu-title">Egzersiz Guncelle </span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Antrenor/BeslenmeBilgiList/">
                <span class="menu-title">Beslenme Guncelle </span>
                <i class="mdi mdi-contacts menu-icon"></i>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Antrenor/BeslenmePlani">
                <span class="menu-title">Beslenme Planı Oluştur </span>
                <i class="mdi mdi-format-list-bulleted menu-icon"></i>
            </a>
        </li>
     
     
        <li class="nav-item">
            <a class="nav-link" href="/Login/Index/">
                <span class="menu-title">  Çıkış Yap </span>
                <i class="mdi mdi-logout menu-icon"></i>
            </a>
        </li>



    </ul>
</nav>